<div class="row">
  <div class="col-xs-8">
    <app-order-rows [rows]="rows" (remove)="removeRow($event)"></app-order-rows>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Ajout manuel</h2>
        <app-order-manual-form (add)="addRow($event)"></app-order-manual-form>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Ajout depuis le catalogue</h2>
        <app-order-catalog-form (add)="addRow($event)"></app-order-catalog-form>
      </div>
    </div>
  </div>
</div>
