<div>

  <table width="100%">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Prix unitaire HT</th>
        <th>Quantité</th>
        <th>Montant HT</th>
        <th>Montant TTC</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let row of rows">
      <tr>
        <td [textContent]="row.title"></td>
        <td [textContent]="row.author"></td>
        <td class="right">{{row.price | currency: 'EUR':true}}</td>
        <td class="right"><input min="1" type="number" [(ngModel)]="row.quantity" /></td>
        <td class="right">{{row.ht() | currency: 'EUR':true}}</td>
        <td class="right">{{row.ttc() | currency: 'EUR':true}}</td>
        <td><button (click)="remove(row)">Supprimer</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">Total</td>
        <td class="right">{{totalHt() | currency: 'EUR':true}}</td>
        <td class="right">{{totalTtc() | currency: 'EUR':true}}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>

  <hr />
  <pre>{{rows|json}}</pre>
  <hr />

  <h2>Ajout manuel</h2>
  <form>
    <label>Titre    <input></label>
    <label>Auteur   <input></label>
    <label>Prix     <input></label>
    <label>Quantité <input></label>
    <input type="submit" value="Ajouter">
  </form>

  <hr />

  <h2>Ajout depuis le catalogue</h2>
  <form>
    <label>Livre<select></select></label>
    <label>Quantité <input></label>
    <input type="submit" value="Ajouter">
  </form>

</div>
